# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/

#Large input files
*.zip
*/climate_IC/*
TCSI_IC6.csv
*/calibration data/mtbs
*/calibration data/short
*/calibration data/wfigs_incidents
*/calibration data/geomac fire boundaries/*
*/calibration data/mtbs/*
*/Inputs/climate_IC/*
*/original TCSI inputs/climate_IC/*
!Models/Inputs/original TCSI inputs/climate_IC/180m_IC5.csv
!Models/Inputs/original TCSI inputs/climate_IC/TCSI_cnrm85_3.csv
Models/Inputs/original TCSI inputs/climate_IC/TCSI_hadgem_85_3.csv
Models/Inputs/original TCSI inputs/climate_IC/tcsi_idaho_v5.csv
Models/Inputs/original TCSI inputs/climate_IC/TCSI_miroc5_85_3.csv
Models/Inputs/original TCSI inputs/climate_IC/180m_IC5.csv
Models/Inputs/original TCSI inputs/climate_IC/TCSI_cnrm85_3.csv
Models/Inputs/original TCSI inputs/climate_IC/TCSI_hadgem_85_3.csv
Models/Inputs/original TCSI inputs/climate_IC/tcsi_idaho_v5.csv
Models/Inputs/original TCSI inputs/climate_IC/TCSI_miroc5_85_3.csv
Models/Inputs/original TCSI inputs/climate_IC/TCSI_miroc5_85_3.csv
Models/Inputs/original TCSI inputs/climate_IC/tcsi_idaho_v5.csv
Models/Inputs/original TCSI inputs/climate_IC/TCSI_hadgem_85_3.csv
Models/Inputs/original TCSI inputs/climate_IC/180m_IC5.csv
*/Finished model runs/*
*/Model runs/*
*/fire severity/*
Parameterization/calibration data/fire severity/
Parameterization/calibration data/geomac_final_fire_perims/
Parameterization/calibration data/geomac_final_fire_perims/combined_boundaried_2000-2019.dbf
Parameterization/calibration data/geomac_final_fire_perims/combined_boundaried_2000-2019.prj
Parameterization/calibration data/geomac_final_fire_perims/combined_boundaried_2000-2019.shp
Parameterization/calibration data/geomac_final_fire_perims/combined_boundaried_2000-2019.shx
Parameterization/calibration data/geomac_all_years/perims_2000_2021.dbf
Parameterization/calibration data/geomac_all_years/perims_2000_2021.prj
Parameterization/calibration data/geomac_all_years/perims_2000_2021.shp
Parameterization/calibration data/geomac_all_years/perims_2000_2021.shx
Parameterization/calibration data/geomac_final_fire_perims/combined_boundaried_2000-2019.dbf
Parameterization/calibration data/geomac_final_fire_perims/combined_boundaried_2000-2019.prj
Parameterization/calibration data/geomac_final_fire_perims/combined_boundaried_2000-2019.shp
Parameterization/calibration data/geomac_final_fire_perims/combined_boundaried_2000-2019.shx
Parameterization/calibration data/geomac_final_fire_perims/combined_boundaried_2000-2019.shx
Parameterization/calibration data/geomac_final_fire_perims/combined_boundaried_2000-2019.shp
Parameterization/calibration data/geomac_final_fire_perims/combined_boundaried_2000-2019.prj
Parameterization/calibration data/geomac_final_fire_perims/combined_boundaried_2000-2019.dbf
Parameterization/calibration data/geomac_all_years/perims_2000_2021.shx
Parameterization/calibration data/geomac_all_years/perims_2000_2021.shp
Parameterization/calibration data/geomac_all_years/perims_2000_2021.prj
Parameterization/calibration data/geomac_all_years/perims_2000_2021.dbf
*.nc
Models/Inputs/masks_boundaries/stelprdb5334748/*
Parameterization/calibration data/short_ignitions/Data/FPA_FOD_20210617.gdb/*
old/*
Parameterization/calibration data/short_ignitions/short_drop_geometry.csv
Parameterization/calibration data/topography/sierra_aspect.tif
Parameterization/calibration data/topography/sierra_dem.tif
Parameterization/calibration data/topography/sierra_slope.tif
Parameterization/calibration data/landuse/
Parameterization/calibration data/landuse/*
Parameterization/management scenario data/*
